@charset "utf-8";

/* 공통 */
html {overflow-y:scroll}
body {margin:0;padding:0;background:#000 url('../img/all_bg.jpg') no-repeat center/cover; font-size:18px;}
.nfa_img img{max-width:100%}
.nfa_none{display:none}
.th-th-th{width:100%;}
select {width:100%;padding:.8em.5em;border:none !important;font-family:inherit;background:#fff !important;appearance:none;border-radius:10px 10px 0 0}
.form-check {position:relative;display:block;padding-left:1.5rem !important; line-height: 42px;}
.th-th-m{display:none;}
.p-color{ /*display:none;*/ text-align:center; border-bottom:1px solid #dee2e6; }
.th-l{width:60%; }
.td-l{width:calc(40% / 5); padding:0 !important;}
.p-color > div > p { margin-top:10px; }
.form_check_in{position:relative;}
@media all and (max-width : 640px){
	.table-bordered{table-layout: auto;}
	.th-th-th{display:block;width: 100%;}
	.th-th-pc{width: 100%; clear: both; display: block;}
	.td-td{display:none;}
	.th-l{width:100%;display:block;float:left;font-size:0.9rem;}
	.td-l{width:calc(100% / 5);display:block;float:left; padding:0 !important; height: 95px;font-size:0.9rem;}
	.td-l p{font-size:0.8rem;}
	.p-color{display:block;border-bottom: 1px solid #dee2e6; padding-top: 16px;}
	.table td{font-size:0.9rem;}
	.txt_18{font-size:0.9rem !important;}
	.p-color > div > p { margin-top:0px; } 
}
/************************************************************/

/* 메인텍스트 */
.main_txt{padding:50px 0 50px 0}

/* 메인버튼 */
.main_btn_01{padding:30px;background:#9c9d9f;border-radius:15px;cursor:pointer;}
.main_btn_01:hover{background:#555}
.main_btn_02{padding:30px;background:#c33a2b;border-radius:15px;cursor:pointer}
.main_btn_02:hover{background:#f78a00}
.main_btn_03{padding:30px;background:#c0b07d;border-radius:15px;cursor:pointer}
.main_btn_03:hover{background:#5eaec8}
.main_btn_07{padding:30px;background:#7384c3;border-radius:15px;cursor:pointer}
.main_btn_07:hover{background:#b173c3}
.main_btn{width:745px;margin:0 auto;padding-left:285px}

/* 서브버튼 */
.sub_btn_01{padding:15px;background:#9c9d9f;border-radius:5px;cursor:pointer}
.sub_btn_01:hover{background:#555}
.sub_btn_02{padding:15px;background:#c33a2b;border-radius:5px;cursor:pointer}
.sub_btn_02:hover{background:#f78a00}
.sub_btn_03{padding:15px;background:#c0b07d;border-radius:5px;cursor:pointer}
.sub_btn_03:hover{background:#5eaec8}
.sub_btn_04-1{padding:15px;background:#d96850;border-radius:500px;cursor:pointer}
.sub_btn_04-1:hover{background:#bd4c34}
.sub_btn_04-2{padding:15px;background:#d96850;border-radius:500px;}
.sub_btn_04-2:hover{background:#bd4c34}
.sub_btn_04{padding:15px;background:#eab486;border-radius:500px;cursor:pointer}
.sub_btn_04:hover{background:#cf8e57}
.sub_btn_05{padding:15px;background:#9e4125;border-radius:500px;cursor:pointer}
.sub_btn_05:hover{background:#a16fb0}
.sub_btn_06{padding:15px;background:#763c2f;border-radius:500px;cursor:pointer}
.sub_btn_06:hover{background:#ba3f24}
.sub_btn_07{padding:15px;background:#7384c3;border-radius:5px;cursor:pointer}
.sub_btn_07:hover{background:#b173c3}
.sub_btn_08{padding:15px;background:#73c3b4;border-radius:5px;cursor:pointer}
.sub_btn_08:hover{background:#248270}

/* 버튼 추가 */
.btn_01 {background:#ff5712;border:none;padding:15px 30px;text-align:center;display:inline-block;cursor:pointer;border-radius:5px}
.btn_01 a{color:#fff;text-decoration:none !important}
.btn_02 {color:#fff;background:#ff5712;border:none;padding:10px 20px;text-align:center;display:inline-block;cursor:pointer;border-radius:0 0 5px 5px;margin-top:-1px;font-size:1rem;}
.btn_02 a{color:#fff;text-decoration:none !important}
.btn_03 {background:linear-gradient( to top, #e46e55, #eba038);border:none;padding:15px 30px;text-align:center;display:inline-block;cursor:pointer;border-radius:5px;box-shadow: 0px 3px 10px #b45643}
.btn_03 a{color:#301713;text-decoration:none !important}
.btn_04 {background:linear-gradient( to top, #2a8fa8, #74d1ef);border:none;padding:15px 30px;text-align:center;display:inline-block;cursor:pointer;border-radius:5px;box-shadow: 0px 3px 10px #b45643}
.btn_04 a{color:#fff;text-decoration:none !important}
.btn_05 {background:linear-gradient( to top, #126e0d, #86f181);border:none;padding:15px 30px;text-align:center;display:inline-block;cursor:pointer;border-radius:5px;box-shadow: 0px 3px 10px #b45643}
.btn_05 a{color:#fff;text-decoration:none !important}

.sub_btn_pc{width:10%;position:absolute;right:0;top:50px;z-index:99;}
.sub_btn_pc img{max-width:70%}

/* 탭소스 */
.tabs {max-width:1220px!important;margin:0 auto;padding:0 20px}
#tab-button {display:table;table-layout:fixed;width:100%;margin:0;padding:0;list-style:none}
#tab-button li {display:table-cell;width:20%}
#tab-button li a {display:block;padding:0.5em;background:#9a9a9a;text-align:center;color:#fff;text-decoration:none;border-radius:10px 10px 0 0;font-size:1.25em;font-weight:400}
#tab-button li:not(:first-child) a {border-left:none}
#tab-button li a:hover,
#tab-button .is-active a {border-bottom-color:transparent;background:#ff5712}
.tab-contents {padding:0 2em 2em 2em;background:#d96850;border-radius:0 0 30px 30px}
.tab-button-outer {display:none}
.tab-contents {margin-top:0px !important}

/* 타이틀제목 */
.tabs_wrap{background: #d96850;border-radius: 30px;padding:0 40px;}
.tabs_wrap .sub_box{width: 100%;max-width:1000px;margin: 0 auto;}
.tit_wrap{background:linear-gradient( to top, #2d1511, #936046);padding:15px 30px;border-radius:0 0 10px 10px;text-align:center;color:#dec1b2;margin-bottom: 30px;}
.tit_wrap .tit_txt{font-size:1.75em;font-weight:600;color:#fff;}

.tit_result{}
.tit_result ul {list-style:none;margin:0;padding:0}
.tit_result li {padding:0 20px;display:inline;border-left:1px #b36647 solid}
.tit_result li:first-child {border-left:none}
.tit_result img{max-width:5%;padding-right:10px}
.result_cont img{max-width:8%;padding:0 10px}

/* 컨텐츠박스 */
.cont_warp{background:#fff;padding:30px;border-radius:10px;text-align:left}
.all_cont_wrap {max-width:950px;margin:0 auto;padding:0 20px}
.all_cont_wrap .contents{padding:0 2em 2em 2em;background:#d96850;border-radius:30px}

@media all and (max-width: 481px) {
	.all_cont_wrap .contents {
		padding: 0 15px 30px 15px;
		border-radius: 15px;
	}
}

@media all and (max-width: 321px) {
	.tabs_wrap {
		padding: 0;
	}
}
/* 팝업소스 */
#popup_content_wrap {width:100%;/*top:0;left:0;position:fixed;*/background:rgba(0, 0, 0, 0.9);z-index:9999; overflow:hidden; position: fixed; top: 0; left: 0; bottom: 0; right: 0;}
#popup_content_wrap2 {width:100%;/*top:0;left:0;position:fixed;*/background:rgba(0, 0, 0, 0.74);z-index:333333; overflow:hidden; position: fixed; top: 0; left: 0; bottom: 0; right: 0;}
#popup_content_wrap3 {width:100%;height: 100vh;min-height: 100%;/*top:0;left:0;position:fixed;*/background:rgba(0, 0, 0, 0.74);z-index:3333; overflow:hidden;}

/*
#popup_content_wrap2 {width:100%;height: 100vh;min-height: 100%;/*top:0;left:0;position:fixed;*/background:rgba(0, 0, 0, 0.74); z-index:3333;  overflow:hidden;}
*/
#popup_content{position:relative; top:23%; }

/*테이블스크롤바*/
.my-custom-scrollbar{position: relative;height:300px;}
.table-wrapper-scroll-y{display:block}
.table td{text-align:center}
.table .td-1 { width:9%; }


/*문제풀기탭*/
.self_tabs {max-width:1700px !important;margin:0 auto;padding:0 10px}
.self_tabs > .tab-contents {padding:0;background:#fff;border:1px #dedede solid;border-radius:0 !important}
.self_tabs > .tab-contents {margin-top:0px !important}
.self_tabs > .tab-button-outer {display:none}




/************************************************************/
@media screen and (max-width:1250.98px) {

/* 공통 */
.nfa_none{display:block}

/* 서브버튼 */
.sub_btn_pc{display:none}
.sub_btn_mo{width:100%;position:relative;right:0;top:50px;margin-bottom:50px}
.sub_btn_mo img{max-width:100%}
/*테이블스크롤바*/
.my-custom-scrollbar{height:250px}
}

@media screen and (max-width:991.98px) {

br{display:none}
/* 메인텍스트 */
.main_txt{padding:50px 0 50px 0}

/* 메인버튼 */
.main_btn{width:100%;margin:0 auto;padding-left:0px}


/* 패딩 */
.b_pad_30{padding-bottom:15px !important}

/* 문제팝업소스 */
#popup_content{position: absolute;top:20px;left:0;right:0; bottom:0; padding-bottom:50px; overflow:auto;}



}


@media screen and (min-width:768px) {

/* 탭 */
.tab-button-outer {position:relative;z-index:2;display:block}
.tab-select-outer {display:none}
.tab-contents {position:relative}

/* 문제풀기탭 */
.self_tabs .tab-button-outer {position:relative;z-index:2;display:block}
.self_tabs .tab-select-outer {display:none}
.self_tabs .tab-contents {position:relative}


}

/************************************************************/

/* 폰트크기 */
.txt_18{font-size:1.1em}
.txt_20{font-size:1.250em}
.txt_22{font-size:1.375em}
.txt_24{font-size:1.500em}
.txt_25{font-size:1.563em}
.txt_26{font-size:1.625em}
.txt_28{font-size:1.750em}
.txt_30{font-size:1.875em}

/* 폰트색상 */
.gray_00{color:#fff}
.yellow_01{color:#ffde00}

/* 패딩 */
.t_pad_10{padding-top:10px}
.t_pad_15{padding-top:15px}
.t_pad_30{padding-top:30px}
.t_pad_50{padding-top:50px}
.b_pad_15{padding-bottom:15px}
.b_pad_30{padding-bottom:30px}
.l_pad_15{padding-left:15px}
.l_pad_20{padding-left:20px}
.l_pad_30{padding-left:30px}
.r_pad_15{padding-right:15px}
.r_pad_20{padding-right:20px}
.r_pad_30{padding-right:30px}

/* 마진 */
.t_mar_30{margin-top:30px}

/*폰트두께*/
.fwt_100{font-weight:100}
.fwt_300{font-weight:300}
.fwt_400{font-weight:400}
.fwt_500{font-weight:500}
.fwt_700{font-weight:700}
.fwt_900{font-weight:900}

/* 폰트 */
.font_noto{font-family:'Noto Sans KR',sans-serif;letter-spacing:-1px}
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:100;src:url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');} 
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:300;src:url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');} 
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:400;src:url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');} 
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:500;src:url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');} 
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:700;src:url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');} 
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:900;src:url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}
