#new_sc {
    width: 100%;
    height: auto;
    min-height: -webkit-calc(100vh - 70px);
    min-height: calc(100vh - 70px);
    position: relative;
    max-width: -webkit-calc(100% - 260px);
    max-width: calc(100% - 260px);
    margin-left: auto;
    padding-bottom: 100px;
}

#new_sc .sc_area {
    width: 100%;
    height: auto;
    position: relative;
}

#new_sc .sc_con {
    width: 100%;
    height: auto;
    position: relative;
}

#new_sc .sc_size {
    width: 100%;
    height: auto;
    position: relative;
}

#new_sc .sc_size .sc_top {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #3364b1;
}

#new_sc .sc_size .sc_top .sc_top_size {
    width: 100%;
    max-width: 1440px;
    overflow: hidden;
    padding: 0 15px;
}

#new_sc .sc_size .sc_top .top_home {
    width: auto;
    height: auto;
    float: left;
}

#new_sc .sc_size .sc_top .top_home > .home_btn {
    width: auto;
    height: auto;
    position: relative;
    margin-top: 20px;
    float: left;
    margin-right: 10px;
}

#new_sc .sc_size .sc_top .top_home > .home_btn > a {
    background-color: #f5f5f5;
    padding: 5px 10px;
    font-size: 0.75rem;
    color: #b7b7b7;
    border-radius: 5px;
}

#new_sc .sc_size .sc_top .top_home > .home_title {
    width: auto;
    float: left;
    margin-top: 23px;
}

#new_sc .sc_size .sc_top .top_home > .home_title > h2 {
    font-size: 1.125rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: -.5px;
    line-height: 1.125rem;
}

#new_sc .sc_size .sc_top .gt_menu_cont {
    float: right;
    width: auto;
    height: auto;
    position: relative;
}

#new_sc .sc_size .sc_top .gt_menu_cont > .gt_menu_box {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-top: 23px;
}

#new_sc .sc_size .sc_top .gt_menu_cont > .gt_menu_box > li {
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
}

#new_sc .sc_size .sc_top .gt_menu_cont > .gt_menu_box > li > p {
    font-size: 0.938rem;
    color: #fff;
    font-weight: 300;
}

#new_sc .sc_size .sc_top .gt_menu_cont > .gt_menu_box > li > p > span {
    font-size: 0.938rem;
    color: #a1b6e8;
    margin-right: 5px;
    font-weight: 500;
}

#new_sc .sc_size .sc_top .gt_menu_cont > .gt_menu_box > li::after {
    content: '';
    display: block;
    width: 1px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 6px;
    right: 0;
}

#new_sc .sc_size .sc_top .gt_menu_cont > .gt_menu_box > li:last-of-type {
    padding-right: 0;
    margin-right: 0;
}

#new_sc .sc_size .sc_top .gt_menu_cont > .gt_menu_box > li:last-of-type::after {
    content: none;
}

#new_sc .sc_size .sc_top .gt_menu_cont > .gt_menu_box > li > a {
    color: #fff;
    font-weight: 100;
}

#new_sc .sc_size .sc_top .gt_menu_cont > .gt_menu_box > li.logout_btn > a {
    color: #069cd4;
    font-weight: 400;
}

/*박경호 */
#detail_show img{
	width : 300px;
	float : left;
	margin-right: 100px;
	
}




/*공통 본문*/
.sc_section {
    width: 100%;
    height: auto;
    position: relative;
}

.sc_section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 245, 245, 0.5)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(245, 245, 245, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(245, 245, 245, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    top: 0;
    left: 0;
    z-index: -1;
}

.sc_section > .sc_section_con {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.sc_section > .sc_section_con > .sc_section_size {
    width: 100%;
    max-width: 1440px;
    margin-top: 35px;
    padding-left: 70px;
}

/*공통 본문 end*/

/*진행중인회의*/
.meeting_wrap {
    width: 100%;
    height: auto;
    position: relative;
}

.meeting_wrap .meeting_search {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.meeting_wrap .meeting_search > .meeting_add {
    width: 200px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: left;
}

.meeting_wrap .meeting_search > .meeting_add > a {
    background-color: #7e95be;
    display: block;
    color: #fff;
    border-radius: 5px;
}

.meeting_wrap .meeting_search > .meeting_add > a:hover {
    background-color: #4d648e;
}

.meeting_wrap .meeting_search > .meeting_search_box {
    float: right;
}

.meeting_wrap .meeting_list {
    width: 100%;
    height: auto;
    position: relative;
}

.meeting_wrap .meeting_list > .meeting_list_box {
    width: 100%;
    height: auto;
    position: relative;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob {
    width: -webkit-calc((100% - 91px) / 4);
    width: calc((100% - 91px) / 4);
    height: auto;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob:nth-of-type(4n) {
    margin-right: 0;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 15px;
    border: 1px solid #ddd;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a:hover {
    background-color: #eaeaea;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob.meeting_on > a {
    background-color: #7e95be;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob.meeting_on > a:hover {
    background-color: #4d648e;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_title {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_title > h2 {
    font-size: 1.563rem;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob.meeting_on > a * {
    color: #fff;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_writer {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_writer > p {
    font-size: 1.125rem;
    font-weight: 300;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_writer > p > span {
    font-size: 1.125rem;
    font-weight: 500;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_view {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_view > li.view_num {
    float: left;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_view > li.view_num > p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 32px;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_view > li.view_num > p > span {
    font-weight: 500;
    color: #e95504;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_view > li.online_btn {
    float: right;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_view > li.online_btn > p {
    text-align: center;
    padding: 3px 15px;
    border: 1px solid #ddd;
}

.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_view > li.online_btn_01 > p {
    background-color: #737e95;
}


.meeting_wrap .meeting_list > .meeting_list_box > .meeting_list_ob > a > .meeting_view > li.online_btn_02 > p {
    background-color: #fffce5;
}

.meeting_view {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 30px;
}

/*진행중인회의 end*/

/*통계*/
.chart_wrap {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.chart_wrap .chart_table {
    width: 100%;
    height: auto;
    position: relative;
}

.stats_list {
    width: 100%;
    height: auto;
    position: relative;
}

.stats_list > .stats_list_box {
    width: 100%;
    height: auto;
    position: relative;
}

.stats_list > .stats_list_two {
    width: -webkit-calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    float: left;
}

.stats_list > .stats_list_two:last-of-type{
    margin-right: 0;
}

.stats_list > .stats_list_box > .stats_rank {
    width: 100%;
    height: auto;
    position: relative;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 30px;
}

.stats_list > .stats_list_box > .stats_rank > .stats_rank_box {
    width: 100%;
    height: auto;
    position: relative;
}

.stats_list > .stats_list_box > .stats_rank > .stats_rank_box > li {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.stats_list > .stats_list_box > .stats_rank > .stats_rank_box > li:last-of-type{
    margin-bottom: 0;
}

.stats_list > .stats_list_box > .stats_rank > .stats_rank_box > li > p {
    float: left;
    width: 30px;
    height: 30px;
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    margin-right: 30px;
}

.stats_list > .stats_list_box > .stats_rank > .stats_rank_box > li > h2 {
    width: 80%;
    float: left;
    line-height: 30px;
}

.stats_list > .stats_list_box > .stats_rank > .stats_rank_box > li > h4 {
    font-size: 1rem;
    line-height: 30px;
}

/*통계 end*/

/*회의록 양식*/
.form_list_con {
    width: 100%;
    height: auto;
    position: relative;
}

.form_list_con > .form_list_box {
    width: 100%;
    height: auto;
    position: relative;
}

.form_list_con > .form_list_box > li {
    width: -webkit-calc((100% - 81px) / 5);
    width: calc((100% - 81px) / 5);
    margin-right: 20px;
    float: left;
}

.form_list_con > .form_list_box > li:nth-of-type(5n) {
    margin-right: 0;
}

.form_list_con > .form_list_box > li > .form_img {
    width: 100%;
    margin-bottom: 10px;
}

.form_list_con > .form_list_box > li > .form_img > img {
    width: 100%;
    height: 100%;
}

.form_list_con > .form_list_box > li > .form_subject {
    width: 100%;
    text-align: center;
}

.form_list_con > .form_list_box > li > .form_subject > h2 {
    font-size: 1.125rem;
    letter-spacing: -1px;
    font-weight: 500;
    color: #595959;
}

/*회의록 양식 end*/

/*시스템 관리*/
.system_con {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 50px;
}

.system_con .system_box {
    width: 100%;
    height: auto;
    position: relative;
}

.system_con .system_box .system_ob {
    width: 100%;
    height: auto;
    position: relative;
    display: table;
    margin-bottom: 70px;
}

.system_con .system_box .system_ob:last-of-type{
    margin-bottom: 0;
}

.system_con .system_box .system_ob > .system_icon {
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: 30px;
    float: left;
}

.system_con .system_box .system_ob > .system_icon > img {
    width: auto;
    max-width: 100%;
    vertical-align: middle;
}

.system_con .system_box .system_ob > .system_title {
    width: 260px;
    float: left;
    margin-right: 50px;
}

.system_con .system_box .system_ob > .system_title > h2 {
    font-size: 1.875rem;
    font-weight: 500;
    letter-spacing: -1.5px;
    color: #595959;
    line-height: 50px;
}

.system_con .system_box .system_ob > .system_stat {
    width: auto;
    height: auto;
    float: left;
}

.system_con .system_box .system_ob > .system_stat > .system_url {
    width: auto;
    width: 450px;
    height: 50px;
    border: 1px solid #dedede;
    padding: 0 15px;
    line-height: 48px;
    margin-bottom: 10px;
}

.system_con .system_box .system_ob > .system_stat > .system_url > p {
    font-size: 1rem;
    color: #595959;
}

.system_con .system_box .system_ob > .system_stat > .system_deta {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.system_con .system_box .system_ob > .system_stat > .system_deta > li {
    float: left;
    overflow: hidden;
    margin-right: 30px;
}

.system_con .system_box .system_ob > .system_stat > .system_deta > li:last-of-type{
    margin-right: 0;
}

.system_con .system_box .system_ob > .system_stat > .system_deta > li > span {
    display: inline-block;
    margin-right: 5px;
    line-height: 26px;
}

.system_con .system_box .system_ob > .system_stat > .system_deta > li > span > i {
    font-size: 1.5rem;
    vertical-align: bottom;
}

.system_con .system_box .system_ob > .system_stat > .system_deta > li > p {
    font-size: 1rem;
    display: inline-block;
    line-height: 26px;
    font-weight: 400;
}

.system_con .system_box .system_ob > .system_stat > .system_deta > li > p > span {
    color: #e95504;
    font-weight: 500;
}

/*시스템 관리 end*/