li.detail_modal_li{
	width:auto;
	float:left;
	min-width:250px;
}


#deatil_page_list{
	width: 4rem;
    height: 100%;
    border: 1px solid #d0dcef;
    background-color: #d0dcef;
    color: #fff;
    border-radius:4px;
    margin-left:0.3rem;
    margin-bottom:0.3rem;
    cursor: pointer
	
}

.detail_page_up button{
	width: 100px;
    height: 100%;
    border: 1px solid #3364b1;
    background-color: #3364b1;
    color: #fff;
    border-radius:4px;
    margin-left:0.3rem;
}

.colist_ul li{
	float:left;
}

.colist_bt{
	text-align:center;
	width: 6rem;
    height: 100%;
    border: 1px solid #3364b1;
    background-color: #3364b1;
    color: #fff;
    border-radius:4px;
    margin-left:0.3rem;
    cursor: pointer
}

input#comment_set{
	height:2rem;
}
#comment ul{
	margin-top:4rem;
}

#comment ul li{
	float:left;
}

.colist_view{
	clear:both;
}