.all_modal .all_modal_con .modal_box img:nth-child(n+1){
	margin-left:2.2rem;
}

#img_modal_open{
	width: 6.25rem;
    height: 100%;
    border: 1px solid #3364b1;
    background-color: #3364b1;
    color: #fff;
    border-radius:4px;
    text-align:center;
    margin: auto;
    margin-top:0.4rem;
    margin-bottom:0.4rem;
}
#img_modal_open:hover{
	background-color: #d0dcef;
}

.search{
	width: 6.25rem;
    height: 100%;
    border: 1px solid #3364b1;
    background-color: #3364b1;
    color: #fff;
    border-radius:4px;
    margin-left:0.3rem;
}

#img_select_modal{
	text-align:center;
	margin-top:1rem;
}
.sc_section > .sc_section_con > .sc_section_size{
	height:110vh;
}

#no_check_team_ul{
	float:left;
	margin-right:6rem;
	margin-top : 0.09rem;
}
#note_insert_bt{
	clear:both;
}

#note_insert_bt > button{
	width: 100%;
    height: 100%;
    border: 1px solid #3364b1;
    background-color: #3364b1;
    color: #fff;
    border-radius:4px;
    margin-left:0.3rem;
}
