#new_login {
    width: 100%;
    height: auto;
    position: relative;
}

#new_login .login_area {
    width: 100%;
    height: auto;
    position: relative;
}

#new_login .login_con {
    width: 100%;
    height: auto;
    position: relative;
}

#new_login .login_size {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 250px
}

#new_login .login_size .logo_box {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
}

#new_login .login_size .logo_box > img {
    width: auto;
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: 20px
}

#new_login .login_size .logo_box > h4 {
    font-size: 1.875rem;
    letter-spacing: -2px;
    font-weight: 500;
    color: #3364b1;
    line-height: 1.9rem;
}

#new_login .login_size .login_cont {
    width: 100%;
    height: auto;
    position: relative;
}

#new_login .login_size .login_cont .login_form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

#new_login .login_size .login_cont .login_form .login_input {
    width: -webkit-calc((100% - 16px) - 120px);
    width: calc((100% - 16px) - 120px);
    height: auto;
    position: relative;
    margin-right: 15px;
    float: left;
}

#new_login .login_size .login_cont .login_form .login_input_full {
    width: 100%;
    float: none;
}

#new_login .login_size .login_cont .login_form .login_input > .login_input_ob {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

#new_login .login_size .login_cont .login_form .login_input > .login_input_ob:last-of-type {
    margin-bottom: 0;
}

#new_login .login_size .login_cont .login_form .login_input > .login_input_ob > .txt {
    width: 80px;
    float: left;
    text-align: right;
}

#new_login .login_size .login_cont .login_form .login_input > .login_input_ob > .txt > span {
    display: block;
    line-height: 40px;
    width: 100%;
    color: #242424;
    font-weight: 500;
    letter-spacing: -1px;
    padding-right: 20px;
}

#new_login .login_size .login_cont .login_form .login_input > .login_input_ob > .login_input_size {
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    height: 40px;
    float: left;
}

#new_login .login_size .login_cont .login_form .login_input > .login_input_ob > .login_input_size > input {
    width: 100%;
    height: 100%;
    border: 1px solid #cfd8e7;
    padding: 0 10px;
    font-weight: 400;
    border-radius: 3px;
}

#new_login .login_size .login_cont .login_form .login_input > .login_input_ob > .login_input_size > input::-webkit-input-placeholder {
    color: #ddd;
    font-weight: 300;
}

#new_login .login_size .login_cont .login_form .login_input > .login_input_ob > .login_input_size > input::-moz-placeholder {
    color: #ddd;
    font-weight: 300;
}

#new_login .login_size .login_cont .login_form .login_input > .login_input_ob > .login_input_size > input:-ms-input-placeholder {
    color: #ddd;
    font-weight: 300;
}

#new_login .login_size .login_cont .login_form .login_input > .login_input_ob > .login_input_size > input::placeholder {
    color: #ddd;
    font-weight: 300;
}

#new_login .login_size .login_cont .login_form .login_input > .login_input_ob > .login_input_size > select {
    width: 100%;
    height: 100%;
    border: 1px solid #cfd8e7;
    padding: 0 10px;
    font-weight: 400;
    border-radius: 3px;
}

#new_login .login_size .login_cont .login_form .button_box {
    width: 120px;
    height: 95px;
    float: left;
}

#new_login .login_size .login_cont .login_form .button_box > input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0;
    background-color: #3364b1;
    color: #fff;
    letter-spacing: -1px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 5px;
}

#new_login .login_size .login_cont .login_button {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

#new_login .login_size .login_cont .login_button .btn_box {
    width: 284px;
    margin-left: 80px;
    overflow: hidden;
}

#new_login .login_size .login_cont .login_button .btn_box > .btn_ob {
    width: auto;
    height: 40px;
    text-align: center;
    float: left;
    line-height: 38px;
    margin-right: 10px;
}

#new_login .login_size .login_cont .login_button .btn_box > .btn_ob:last-of-type {
    margin-right: 0;
}

#new_login .login_size .login_cont .login_button .btn_box > .btn_ob > button {
    display: block;
    font-size: 1rem;
    letter-spacing: -1px;
    font-weight: 300;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
}

#new_login .login_size .login_cont .login_button .btn_box > .btn_ob_01 {
    width: 100px;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
}

#new_login .login_size .login_cont .login_button .btn_box > .btn_ob_02 {
    width: -webkit-calc((100% - 11px) - 100px);
    width: calc((100% - 11px) - 100px);
    border: 1px solid #ddd;
    background-color: #fffce5;
}

/*회원가입*/
.join_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.join_modal .join_modal_con {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 750px;
    height: auto;
    max-height: 800px;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.join_modal .join_modal_con .join_title {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.join_modal .join_modal_con .join_title > .all_title {
    width: 300px;
    float: left;
}

.join_modal .join_modal_con .join_title > .close_btn {
    float: right;
    line-height: 20px;
    text-align: center;
}

.join_modal .join_modal_con .join_title > .close_btn > a {
    display: block;
    width: 100%;
    height: 100%;
}

.join_modal .join_modal_con .join_title > .close_btn > a > i {
    font-size: 1.25rem;
    color: #000;
}

.join_table {
    width: 100%;
    height: auto;
    position: relative;
}

/*회원가입 end*/

/*비밀번호 찾기*/
.pw_cont {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pw_cont .pw_cont_box {
    width: 100%;
    height: auto;
    position: relative;
}

.pw_cont .pw_cont_box > .pw_title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.pw_cont .pw_cont_box > .pw_title > h2 {
    font-size: 1.875rem;
    letter-spacing: -1px;
    font-weight: 500;
    color: #3364b1;
    line-height: 1.9rem;
    margin-bottom: 30px;
}

.pw_cont .pw_cont_box > .pw_title > p {
    font-size: 1rem;
    letter-spacing: -1px;
}

.pw_cont .pw_cont_box > .pw_size {
    width: 100%;
    max-width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.pw_cont .pw_cont_box > .pw_size > input {
    width: 100%;
    height: 100%;
    text-align: center;
}

.pw_cont .pw_cont_box > .pw_btn {
    width: 100%;
    max-width: 300px;
    height: 40px;
    margin: 0 auto;
}

.pw_cont .pw_cont_box > .pw_btn > input {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #737e95;
    color: #fff;
    font-weight: 300;
    padding: 10px 0;
}

.pw_cont .pw_cont_box > .pw_btn {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

.pw_cont .pw_cont_box > .pw_btn > p {
    width: 100%;
    font-size: 1rem;
    color: #000;
    font-weight: 600;
}

/*비밀번호 찾기 end*/


/*로그인 타입 선택 start*/
#member_login_form .login_input_size > ul > li{
	float:left;
}
#member_login_form .login_input_size > ul > li:nth-child(2){
	margin-left:1rem;
}

.button_box > #login_button{
	width: 100%;
    height: 100%;
    border: 1px solid #cfd8e7;
    background-color: #737e95;
    color: #fff;
    font-weight: 300;
    font-size: 0.813rem;
    padding: 0 8px;
    margin-top : 1.5rem;
}
/*로그인 타입 선택 end*/
