.form_list_con{
	width: 880px;
  display: flex;
  flex-direction: column;
  padding: 100px;
  background: white;
  align-items: center;
  font-size: 16px;
  box-shadow: 0px 1px 5px 1px #ccc;
  border-radius: 4px;
  margin:auto;
}
.form_list_con input[type="text"], input[type="password"]{
	padding: 0 10px;
    border: 1px solid #cfd8e7;
    color: #242424;
    font-size: 0.938rem;
    font-weight: 300;
    border-radius: 4px;
    width:20rem;
    height:2.4rem;
    margin-bottom:0.6rem;
}

ul.form_list_bt{
	margin-left: 6.5rem;
	
}
ul.form_list_bt > li{
	float:left;
	margin-left:2rem;
}
.form_list_login{
	width : 580px;
	text-align : center;
	margin-top:3rem;
}
.sc_section > .sc_section_con > .sc_section_size{
	height:70vh;
}

.form_list_bt > li > button {
    width: 7rem;
    height: 100%;
    border: 1px solid #3364b1;
}

.form_list_bt > li > button {
    background-color: #3364b1;
    color: #fff;
}

.form_list_bt > li > button:hover {
    background-color: #d0dcef;
}

#RE_BT{
	width: 7rem;
    height: 100%;
    border: 1px solid #3364b1;
    background-color: #3364b1;
    color: #fff;
    border-radius:4px;
    margin-left:0.4rem;
}

#RE_BT:hover{
	background-color: #d0dcef;
}